@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*是從_resit.scss*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-----header-----*/
.nav {
  width: 100%;
  position: fixed;
  height: 13%;
  text-align: center;
  padding: 0.6%;
  margin-top: 25px;
  top: 0;
  z-index: 1000; }

.logo {
  display: inline-block;
  width: 15%;
  min-width: 200px;
  margin: 0;
  vertical-align: middle; }

.ul_left,
.ul_right,
.ul_left li,
.ul_right li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px 0 20px;
  font-family: "微軟正黑體"; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 5%;
  text-align: right;
  padding: 0.2%;
  z-index: 999; }

.header .ul_top {
  margin: 15px; }

.header .ul_top li {
  display: inline-block;
  margin: 0 8px 0 8px;
  font-family: "微軟正黑體"; }

.header .ul_top li a {
  text-decoration: none;
  color: white; }

.nav .ul_left li a {
  text-decoration: none;
  color: white; }

.nav .ul_right li a {
  text-decoration: none;
  color: white; }

/*-----header end-----*/
* {
  margin: 0px;
  padding: 0px;
  /*outline: 1px solid red;*/ }

body {
  font-family: "微軟正黑體", Arial, sans-serif;
  background-color: black;
  background-image: url("../img/Galaxy_1.jpg");
  background-size: cover; }

.Menu {
  width: 50%;
  position: relative;
  top: 160px;
  left: 310px; }

.progressinfoMenu {
  background-color: #ffc116;
  width: 200px;
  height: 40px;
  background: linear-gradient(-45deg, transparent 40px, #ffc116 0%) bottom right, linear-gradient(130deg, transparent 0px, #ffc116 0%) bottom left, linear-gradient(-135deg, transparent 40px, #ffc116 0%) top right, linear-gradient(135deg, transparent 0px, #ffc116 0%) top left;
  /*-45度，反方向堆回來，那塊顏色就消失*/
  background-size: 50% 50%;
  /*顏色各占一 半*/
  background-repeat: no-repeat; }

.progressinfoMenu a {
  position: absolute;
  top: 5px;
  left: 20px;
  color: white;
  padding: 7px 0px;
  text-decoration: none; }

.buyticketMenu {
  margin-top: 8px;
  background-color: #ffc116;
  width: 200px;
  height: 40px;
  background: linear-gradient(-45deg, transparent 40px, #ffc116 0%) bottom right, linear-gradient(130deg, transparent 0px, #ffc116 0%) bottom left, linear-gradient(-135deg, transparent 40px, #ffc116 0%) top right, linear-gradient(135deg, transparent 0px, #ffc116 0%) top left;
  /*-45度，反方向堆回來，那塊顏色就消失*/
  background-size: 50% 50%;
  /*顏色各占一 半*/
  background-repeat: no-repeat; }

.buyticketMenu a {
  position: relative;
  top: 11px;
  left: 20px;
  color: white;
  padding: 8px 0px;
  text-decoration: none; }

/*topright*/
.topright {
  width: 50%;
  position: relative;
  top: 60px;
  left: 550px; }

.topright .Menutitle {
  position: absolute;
  top: 10px;
  left: 100px;
  color: white;
  font-size: 32px; }

/*畫線*/
.toprightcanvas {
  position: absolute;
  top: 10px;
  left: 230px; }

.topright hr {
  position: absolute;
  top: 20px;
  left: 300px; }

.topright .hrRotate {
  position: absolute;
  top: 56px;
  left: 387px;
  transform: rotate(45deg); }

.topright .hrRotate2 {
  position: absolute;
  top: 143px;
  left: 424px;
  transform: rotate(90deg); }

/*星球 */
.topright .planet {
  position: absolute;
  top: 200px;
  left: 230px; }

/*太空人*/
.topright .spaceman {
  position: absolute;
  top: 250px;
  left: 240px;
  transform: rotate(35deg); }

/*節目1*/
.programone {
  width: 500px;
  position: relative;
  top: 300px;
  left: 300px; }

.programone .programonetitle {
  width: 300px;
  color: white;
  font-size: 32px; }

.programone .programoneHr {
  position: absolute;
  top: 6%;
  left: 1%;
  width: 7px;
  height: 100%;
  /*border: 1px #7bd3f8 solid;*/
  /*border-radius: 10px;*/
  background-color: #35ffba; }

.programonecontent {
  font-size: 16px;
  padding: 20px;
  line-height: 20px;
  letter-spacing: 1.2px;
  width: 300px;
  color: white; }

.programone .programoneHr2 {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 3px;
  height: 50%;
  /*border: 1px #7bd3f8 solid;*/
  /*border-radius: 10px;*/
  background-color: #35ffba; }

.programone .spaceship {
  position: relative;
  top: 220px;
  left: -150px; }

/*節目2*/
.programtwo {
  width: 30%;
  position: relative;
  top: 200px;
  left: 850px; }

.programtwo .programtwotitle {
  color: white;
  font-size: 32px; }

.programtwo .programtwocontent {
  font-size: 16px;
  padding: 20px;
  line-height: 20px;
  letter-spacing: 1.2px;
  width: 300px;
  color: white; }

.programtwo .programtwospan {
  position: absolute;
  top: 75%;
  left: 65%;
  width: 7px;
  height: 420%;
  /*border: 1px #7bd3f8 solid;
      border-radius: 10px;*/
  background-color: #35ffba; }

.programtwo .programtwospan2 {
  position: absolute;
  top: 90%;
  left: 58%;
  width: 3px;
  height: 390%;
  /*border: 1px #7bd3f8 solid;
      border-radius: 10px;*/
  background-color: #35ffba; }

.programtwo .programtwoHr {
  position: absolute;
  top: 481%;
  right: 41%;
  width: 91%;
  /*height: 100%;*/
  background-color: #35ffba; }

.programtwo .programtwoHr2 {
  position: absolute;
  top: 493%;
  right: 33%;
  width: 99%;
  /*height: 100%;*/
  background-color: #35ffba; }

.programtwo .programtwoimg {
  position: absolute;
  top: 360%;
  right: 6%; }

.programtwo .programtwoimg2 {
  position: absolute;
  top: 210%;
  right: 100%; }

.programtwo .programtwoimg3 {
  position: absolute;
  top: 330%;
  left: -180%; }

/*立即購買按鈕*/
.buyticketBtn {
  /*position:absolute;
      top:210%;
      left:50%;*/
  text-decoration: none;
  width: 70px;
  background-color: #FFC116;
  padding: 10px 10px;
  margin: 0 auto;
  margin-top: 700px; }

.buyticketBtn a {
  text-decoration: none;
  color: white; }
